@model IEnumerable<JobBoard.Data.EF.Application>
@{
    ViewBag.Title = "Index";
}
<h2>Summited Applications</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.userFullname)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.userFullname)
            </td>
            <td>
                @Html.ActionLink("Details", "Edit", new { id = item.ApplicationId })
                @if (User.IsInRole("Admin"))
                {
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                }
            </td>
        </tr>
    }
</table>
