@model IEnumerable<JobBoard.Data.EF.Application>
@{
    ViewBag.Title = "Index";
}
<h2>Your Applications</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
            </th>
            <th class="hideMobile">
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.userFullname)
            </th>
            <th class="hideMobile"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.ActionLink(item.OpenPosition.Position.Title, "Edit", new { id = item.ApplicationId })
                </td>
                <td class="hideMobile">
                    @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.userFullname)
                </td>
                <td class="hideMobile">

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                    }
                </td>
            </tr>
        }
    </table>
