@model JobBoard.Data.EF.OpenPosition
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

@using (Html.BeginForm())
{
    <div>
        <h4>Open Position</h4>
        <hr />
        @if (ViewBag.userRes == "noResume.pdf")
        {
            <div>
                <div style="background-color: white; border: none; border-radius: 0px;" id="dialog" title="Resume">
                    <p>Ensure your resume is up to date before applying for this Potions. You can upload a new resume if needed in your User settings above.</p>
                </div>
            </div>
        }
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CloseDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CloseDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location.StoreNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location.StoreNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position.Department.DepartmentName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position.JobDescription)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position.JobDescription)
                </dd>
            </dl>
        @if (Request.IsAuthenticated)
        {
            <div class="form-actions"><input type="submit" value="Apply" class="btn btn-default" /></div>
        }
    </div>
}
<p>
    <br />
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }) <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#dialog").dialog();
        });
    </script>
}