@model IEnumerable<JobBoard.Data.EF.OpenPosition>
@{
    ViewBag.Title = "Index";
}
<h2>Open Postions</h2>
<div>
    <div>
        <h4>Filter by Location</h4>
        @using (Html.BeginForm("Index", "OpenPositions", FormMethod.Get))
        {
            <div class="row">
                    <input type="submit" value="Go" class=" btn btn-primary col-md-1" />
                    @Html.DropDownList("OpenFiltered", null, "[ - Choose Location - ]", new { @class = "form-control col-md-3" })
            </div>
        }
    </div>
</div>

@if (Model.Count() == 0)
{
    <h4>Nothing currenly open at @Request.QueryString["OpenFiltered"].ToString()</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OpenPositionId })
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <span> | </span>@Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId })<span> | </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId })
                    }
                </td>
            </tr>
        }
    </table>
}